.page-level3 {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .box-all {
            // opacity: 0.5;
            top: 0.5rem;
            left: 0;
            .text1 {
                width: 56.6%;
                top: 2.16rem;
                left: 22.8%;
                display: none;
            }
            .box-fulu1 {
                width: 33.2%;
                top: 11.46rem; 
                left: 33.2%;
                .box-fuluheart {
                    width: 146.8%;
                    bottom: 0.12rem;
                    left: -2.6%;
                    transform-origin: 54% bottom;
                    .heart {
                        width: 26.6%;
                        bottom: 2.04rem;
                        right: 13%;
                    }
                    .line {
                        width: 18.6%;
                        bottom: 2.9rem;
                        right: 1.6%;
                        opacity: 0;
                    }
                }
            }
            .box-hammer {
                width: 45.2%;
                top: 5.96rem;
                left: 8.6%;
                transform-origin: 38% bottom;
                .crack {
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
            .box-attack1 {
                width: 44%;
                top: 12.88rem; /* 12.88rem */
                left: -59.2%; /* -36.2% */
                .attack1 {
                    width: 54%;
                    top: -0.72rem;
                    left: 68%;
                }
            }
            .box-attack2 {
                width: 44%;
                top: 1.5rem; /* 2.5rem */
                right: -62.6%; /* -37.6% */
                .speed2 {
                    -moz-transform: scaleX(-1) scaleY(-1) rotate(8deg);
                    -webkit-transform: scaleX(-1) scaleY(-1) rotate(8deg);
                    -o-transform: scaleX(-1) scaleY(-1) rotate(8deg);
                    transform: scaleX(-1) scaleY(-1) rotate(8deg);
                }
                .attack2 {
                    width: 54%;
                    top: 1.58rem;
                    left: -29.4%;
                    -moz-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
            .box-attack3 {
                width: 44%;
                top: 0.94rem; /* 2.94rem */
                left: -62.8%; /* -27.8% */
                .speed3 {
                    -moz-transform: scaleY(-1) rotate(8deg);
                    -webkit-transform: scaleY(-1) rotate(8deg);
                    -o-transform: scaleY(-1) rotate(8deg);
                    transform: scaleY(-1) rotate(8deg);
                }
                .attack3 {
                    width: 54%;
                    top: 1.58rem;
                    left: 75.6%;
                }
                .line2 {
                    width: 16%;
                    top: 3.2rem;
                    right: -42%;
                    opacity: 0;
                }
            }
            .box-cave {
                width: 20.2%;
                top: 12.5rem;
                left: 39.8%;
                .cave2 {
                    top: 0;
                    left: 0;
                }
                .box-mouse1 {
                    top: 1.74rem;
                    left: 0;
                    .eyes {
                        width: 6.8%;
                        top: 0.68rem;
                        left: 20%;
                    }
                }
            }
            .border {
                top: 0;
                left: 0;
            }
            .help {
                width: 48.4%;
                top: 12.52rem;
                right: 12%;
                display: none;
            }
            .re {
                top: 0;
                left: 0;
                display: none;
                .text2 {
                    width: 57.6%;
                    top: 2.14rem;
                    left: 20.8%;
                }
                .box-fulu2 {
                    width: 33.2%;
                    top: 11.46rem;
                    right: 24.6%;
                    .fulu2 {
                        width: 145.6%;
                        bottom: 0.18rem;
                        left: -23.2%;
                        transform-origin: bottom center;
                    }
                    @-webkit-keyframes shake {
                        0% {
                            transform: rotate(0deg);
                        }
                        25% {
                            transform: rotate(6deg);
                        }
                        50% {
                            transform: rotate(0deg);
                        }
                        75% {
                            transform: rotate(-6deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
                .box-ingot {
                    width: 19.4%;
                    top: 11.62rem;
                    left: 20.2%;
                    .ingot {
                        width: 141%;
                        bottom: 0.1rem;
                        left: -26.8%;
                    }
                }
                @-webkit-keyframes float {
                    0% {
                        transform: translateY(0);
                    }
                    50% {
                        transform: translateY(-10px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                .coin1 {
                    width: 6.2%;
                    top: 5.96rem;
                    left: 20.6%;
                    animation: float 2s linear .2s infinite;
                    -webkit-animation: float 2s linear .2s infinite;
                    -moz-animation: float 2s linear .2s infinite;
                    -ms-animation: float 2s linear .2s infinite;
                    animation-play-state: running;
                }
                .coin2 {
                    width: 6.2%;
                    top: 4.78rem;
                    right: 15.8%;
                    animation: float 2s linear .4s infinite;
                    -webkit-animation: float 2s linear .4s infinite;
                    -moz-animation: float 2s linear .4s infinite;
                    -ms-animation: float 2s linear .4s infinite;
                    animation-play-state: running;
                }
                .coin3 {
                    width: 4.6%;
                    top: 7.78rem;
                    left: 34.8%;
                    animation: float 2s linear .6s infinite;
                    -webkit-animation: float 2s linear .6s infinite;
                    -moz-animation: float 2s linear .6s infinite;
                    -ms-animation: float 2s linear .6s infinite;
                    animation-play-state: running;
                }
                .coin4 {
                    width: 6.2%;
                    top: 7.64rem;
                    right: 13.2%;
                    -moz-transform: rotate(50deg);
                    -webkit-transform: rotate(50deg);
                    -o-transform: rotate(50deg);
                    transform: rotate(50deg);
                    animation: float 2s linear .8s infinite;
                    -webkit-animation: float 2s linear .8s infinite;
                    -moz-animation: float 2s linear .8s infinite;
                    -ms-animation: float 2s linear .8s infinite;
                    animation-play-state: running;
                }
                .coin5 {
                    width: 4.6%;
                    top: 9.04rem;
                    left: 12.6%;
                    animation: float 2s linear 1s infinite;
                    -webkit-animation: float 2s linear 1s infinite;
                    -moz-animation: float 2s linear 1s infinite;
                    -ms-animation: float 2s linear 1s infinite;
                    animation-play-state: running;
                }
                .coin6 {
                    width: 5.4%;
                    top: 10.9rem;
                    right: 19.8%;
                    -moz-transform: rotate(15deg);
                    -webkit-transform: rotate(15deg);
                    -o-transform: rotate(15deg);
                    transform: rotate(15deg);
                    animation: float 2s linear 1.2s infinite;
                    -webkit-animation: float 2s linear 1.2s infinite;
                    -moz-animation: float 2s linear 1.2s infinite;
                    -ms-animation: float 2s linear 1.2s infinite;
                    animation-play-state: running;
                }
                @-webkit-keyframes twinkle {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                .firework1 {
                    width: 4.2%;
                    top: 6rem;
                    right: 22.6%;
                    animation: twinkle 1s linear .2s infinite;
                    -webkit-animation: twinkle 1s linear .2s infinite;
                    -moz-animation: twinkle 1s linear .2s infinite;
                    -ms-animation: twinkle 1s linear .2s infinite;
                    animation-play-state: running;
                }
                .firework2 {
                    width: 4.2%;
                    top: 7.7rem;
                    left: 19.8%;
                    animation: twinkle 1s linear .4s infinite;
                    -webkit-animation: twinkle 1s linear .4s infinite;
                    -moz-animation: twinkle 1s linear .4s infinite;
                    -ms-animation: twinkle 1s linear .4s infinite;
                    animation-play-state: running;
                }
                .firework3 {
                    width: 4.2%;
                    top: 10.38rem;
                    right: 12.6%;
                    animation: twinkle 1s linear .6s infinite;
                    -webkit-animation: twinkle 1s linear .6s infinite;
                    -moz-animation: twinkle 1s linear .6s infinite;
                    -ms-animation: twinkle 1s linear .6s infinite;
                    animation-play-state: running;
                }
                .border {
                    top: 0;
                    left: 0;
                }
                .box-tip {
                    width: 77%;
                    top: 12.08rem;
                    left: 11.5%;
                    display: none;
                    .tip {
                        width: 88%;
                        top: 0.06rem;
                        left: 6%;
                    }
                    .prev, .next {
                        bottom: 0.18rem;
                    }
                    .prev {
                        width: 28.2%;
                        left: 7.6%;
                    }
                    .next {
                        width: 36.8%;
                        right: 7.6%;
                        opacity: 0;
                    }
                    .quote {
                        width: 43%;
                        bottom: -0.26rem;
                        left: 5.2%;
                    }
                }
            }
        }
    }
}
