.page-level2 {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .box-all {
            // opacity: 0.5;
            top: 0.5rem;
            left: 0;
            .box-arrow1 {
                width: 80%;
                height: 1.5rem;
                top: 5.36rem;
                left: 10%;
                display: none;
            }
            .text1 {
                width: 56%;
                top: 2.16rem;
                left: 22.6%;
                display: none;
            }
            .box-fulu1 {
                width: 33.2%;
                top: 11.46rem;
                left: 33.4%;
                .fulu1 {
                    width: 146.4%;
                    bottom: 0.12rem;
                    left: -25%;
                }
            }
            .box-sugars {
                width: 80%;
                height: 6.9rem;
                top: 7.94rem;
                left: 10%;
                overflow: hidden;
                .box-cave {
                    width: 25.2%;
                    bottom: -1.2rem;
                    left: 37.4%;
                    .cave2 {
                        top: 0;
                        left: 0;
                    }
                    .box-mouse1 {
                        top: 1.74rem;
                        left: 0;
                        .eyes {
                            width: 6.8%;
                            top: 0.68rem;
                            left: 20%;
                        }
                    }
                }
            }
            .box-dig {
                width: 24.6%;
                top: 6.42rem;
                right: -24.6%; /* 15.6% */
                .dig {
                    top: 0;
                    left: 0;
                }
            }
            .box-sugar1 {
                top: 12.6rem;
                left: 18%;
                -moz-transform: rotate(-4deg);
                -webkit-transform: rotate(-4deg);
                -o-transform: rotate(-4deg);
                transform: rotate(-4deg);
                display: none;
                .line1 {
                    width: 1.5rem;
                    height: 0.8rem;
                    background: url('../img/common/line1.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar1 {
                    width: 64%;
                    top: 0.3rem; /* -0.56rem */
                    left: 160%; /* -66% */
                }
            }
            .box-sugar2 {
                top: 9.26rem;
                left: 34.2%;
                display: none;
                .line2 {
                    width: 1.1rem;
                    height: 1rem;
                    background: url('../img/common/line2.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar2 {
                    width: 88%;
                    top: 1rem; /* -0.54rem */
                    left: 150%; /* -69% */
                }
            }
            .box-sugar3 {
                top: 11.6rem;
                right: 12.4%;
                -moz-transform: rotate(8deg);
                -webkit-transform: rotate(8deg);
                -o-transform: rotate(8deg);
                transform: rotate(8deg);
                display: none;
                .line3 {
                    width: 1.14rem;
                    height: 1.1rem;
                    background: url('../img/common/line3.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar3 {
                    width: 112%;
                    top: 1rem; /* -0.58rem */
                    right: 100%; /* -102% */
                }
            }
            .border {
                top: 0;
                left: 0;
            }
            .help {
                width: 48.4%;
                top: 12.52rem;
                right: 12%;
                display: none;
            }
            .re {
                top: 0;
                left: 0;
                display: none;
                .box-arrow2 {
                    width: 80%;
                    height: 1.5rem;
                    top: 6.36rem; /* 5.36rem */
                    left: 10%;
                    display: none;
                    img {
                        -moz-transform: scaleY(-1);
                        -webkit-transform: scaleY(-1);
                        -o-transform: scaleY(-1);
                        transform: scaleY(-1);
                    }
                }
                .text2 {
                    width: 56.2%;
                    top: 2.14rem;
                    left: 21.8%;
                }
                .box-fulu2 {
                    width: 33.6%;
                    top: 11.46rem;
                    left: 33%;
                    @-webkit-keyframes shake {
                        0% {
                            transform: rotate(0deg);
                        }
                        25% {
                            transform: rotate(6deg);
                        }
                        50% {
                            transform: rotate(0deg);
                        }
                        75% {
                            transform: rotate(-6deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                    .box-fulumouse {
                        width: 144.6%;
                        bottom: 0.12rem;
                        left: -21.2%;
                        transform-origin: bottom center;
                        .fulu2 {
                            bottom: 0;
                            left: 0;
                        }
                    }
                    .box-mouse2 {
                        width: 59.2%;
                        bottom: 1rem; /* 2.34rem */
                        right: 4%; /* -40% */
                    }
                }
                .box-tip {
                    width: 77%;
                    top: 12.08rem;
                    left: 11.5%;
                    display: none;
                    .tip {
                        width: 88%;
                        top: 0.06rem;
                        left: 6%;
                    }
                    .prev, .next {
                        bottom: 0.18rem;
                    }
                    .prev {
                        width: 28.2%;
                        left: 7.6%;
                    }
                    .next {
                        width: 36.8%;
                        right: 7.6%;
                        opacity: 0;
                    }
                    .quote {
                        width: 35.6%;
                        bottom: -0.26rem;
                        left: 5.2%;
                    }
                }
            }
        }
    }
}
