.page-loading {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .num {
            width: 30.6%;
            top: 0.22rem;
            right: 2%;
        }
        .box-all {
            top: 5.36rem;
            .box-preview {
                margin-left: 33.4%;
                width: 36.4%;
                .firework {
                    width: 14.8%;
                }
                @-webkit-keyframes twinkle {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                .firework1 {
                    animation: twinkle 1s linear .2s infinite;
                    -webkit-animation: twinkle 1s linear .2s infinite;
                    -moz-animation: twinkle 1s linear .2s infinite;
                    -ms-animation: twinkle 1s linear .2s infinite;
                    animation-play-state: running;
                    top: 0;
                    left: 0;
                }
                .firework2 {
                    animation: twinkle 1s linear .6s infinite;
                    -webkit-animation: twinkle 1s linear .6s infinite;
                    -moz-animation: twinkle 1s linear .6s infinite;
                    -ms-animation: twinkle 1s linear .6s infinite;
                    animation-play-state: running;
                    top: 1.46rem;
                    right: 0;
                }
            }
            .loading {
                margin-top: 0.34rem;
                margin-left: 3.38rem;
                height: 0.38rem;
                text-align: left;
                img {
                    vertical-align: bottom;
                }
                div {
                    display: inline-block;
                    color: #6e151d;
                    font-size: 0.44rem;
                    line-height: 0.44rem;
                    font-weight: 500;
                }
            }
        }
    }
}
