<style lang="less" scoped src="../assets/css/home.less"></style>

<template>
	<div class="abs full-w full-h page-home">
		<div class="abs full-w full-h wrapper">
	        <div class="abs full-w full-h box-all fontsize0 center">
	        	<!-- ingot -->
	        	<img class="abs ingot" src="../assets/img/home/ingot.png" />
	        	<!-- lantern -->
	        	<img class="abs lanterns" src="../assets/img/home/lanterns.png" />
		        <!--cloud -->
		        <img class="abs cloud1" src="../assets/img/home/cloud1.png" />
		        <img class="abs cloud2" src="../assets/img/home/cloud2.png" />
		        <img class="abs cloud3" src="../assets/img/home/cloud2.png" />
		        <img class="abs cloud4" src="../assets/img/home/cloud3.png" />
		        <!-- clouds -->
		        <img class="abs full-w clouds1" src="../assets/img/home/clouds1.png" />
		        <img class="abs full-w clouds2" src="../assets/img/home/clouds2.png" />
		        <!-- text -->
		        <img class="abs text" src="../assets/img/home/text.png" />
		        <!-- mouse&fulu -->
		        <div class="abs box-mousefulu">
		        	<!-- mouse -->
		        	<img class="full-w" src="../assets/img/home/mousefulu.png" />
		        	<!-- lantern -->
		        	<img class="abs lantern" src="../assets/img/home/lantern.png" />
		        </div>
		        <!-- arrow -->
		        <img class="abs arrow" src="../assets/img/home/arrow.png" />
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/home.js"></script>