<style lang="less" scoped src="../assets/css/level3.less"></style>

<template>
	<div class="abs full-w full-h page-level3">
		<div class="abs full-w full-h wrapper">
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- text -->
	        	<img class="abs text1" src="../assets/img/level3/text1.png" />
	        	<!-- fulu -->
	        	<div class="abs box-fulu1">
	        		<!-- shadow -->
	        		<img class="full-w" src="../assets/img/common/shadow.png" />
	        		<!-- fulu -->
	        		<div class="abs box-fuluheart">
			        	<img class="full-w fulu1" src="../assets/img/level3/fulu1.png" />
			        	<!-- heart -->
			        	<img class="abs heart" src="../assets/img/level3/heart1.png" />
			        	<!-- line -->
			        	<img class="abs line" src="../assets/img/level3/line.png" />
			        </div>
		        </div>
	        	<!-- mouse -->
	        	<div class="abs box-cave">
	        		<!-- cave -->
	        		<img class="full-w cave1" src="../assets/img/common/cave1.png" />
	        		<!-- mouse -->
	        		<div class="abs full-w box-mouse1">
	        			<!-- mouse -->
		        		<img class="full-w" src="../assets/img/common/mouse.png" />
		        		<!-- eyes -->
		        		<img class="abs eyes" src="../assets/img/common/open.png" />
		        	</div>
	        		<!-- cave -->
	        		<img class="abs full-w cave2" src="../assets/img/common/cave2.png" />
	        	</div>
	        	<!-- border -->
	        	<img class="abs full-w border" src="../assets/img/level3/border.png" />
	        	<!-- hammer -->
		        <div class="abs box-hammer">
		        	<!-- hammer -->
		        	<img class="full-w" src="../assets/img/level3/hammer.png" />
		        	<!-- crack -->
		        	<img class="abs full-w crack" src="../assets/img/level3/crack1.png" />
		        </div>
	        	<!-- attack -->
	        	<div class="abs box-attack1">
	        		<!-- speed -->
	        		<img class="full-w speed1" src="../assets/img/level3/speed.png" />
	        		<!-- mouse -->
		        	<img class="abs attack1" src="../assets/img/level3/mouse.png" />
		        </div>
	        	<div class="abs box-attack2">
	        		<!-- speed -->
	        		<img class="full-w speed2" src="../assets/img/level3/speed.png" />
	        		<!-- mouse -->
		        	<img class="abs attack2" src="../assets/img/level3/mouse.png" />
		        </div>
		        <div class="abs box-attack3">
	        		<!-- speed -->
	        		<img class="full-w speed3" src="../assets/img/level3/speed.png" />
	        		<!-- mouse -->
		        	<img class="abs attack3" src="../assets/img/level3/mouse.png" />
		        	<!-- line -->
		        	<img class="abs line2" src="../assets/img/level3/line.png" />
		        </div>
	        	<!-- help -->
	        	<img class="abs help" src="../assets/img/common/help.png" />
	        	<!-- re -->
	        	<div class="abs full-w re">
	        		<!-- text -->
		        	<img class="abs text2" src="../assets/img/level3/text2.png" />
		        	<!-- fulu -->
		        	<div class="abs box-fulu2">
		        		<!-- shadow -->
		        		<img class="full-w" src="../assets/img/common/shadow.png" />
				        <!-- fulu -->
				        <img class="abs fulu2" src="../assets/img/level3/fulu2.png" />
			        </div>
			        <!-- ingot -->
			        <div class="abs box-ingot">
			        	<!-- shadow -->
		        		<img class="full-w" src="../assets/img/level3/shadow-mouse.png" />
				        <!-- ingot -->
				        <img class="abs ingot" src="../assets/img/level3/ingot1.png" />
			        </div>
			        <!-- coin -->
			        <img class="abs coin1" src="../assets/img/level3/coin.png" />
			        <img class="abs coin2" src="../assets/img/level3/coin.png" />
			        <img class="abs coin3" src="../assets/img/level3/coin.png" />
			        <img class="abs coin4" src="../assets/img/level3/coin.png" />
			        <img class="abs coin5" src="../assets/img/level3/coin.png" />
			        <img class="abs coin6" src="../assets/img/level3/coin.png" />
			        <!-- firework -->
			        <img class="abs firework1" src="../assets/img/common/firework1.png" />
		        	<img class="abs firework2" src="../assets/img/common/firework1.png" />
		        	<img class="abs firework3" src="../assets/img/common/firework1.png" />
		        	<!-- tip -->
		        	<div class="abs box-tip">
		        		<!-- bg -->
		        		<img class="full-w" src="../assets/img/common/bg-tip.png" />
		        		<!-- tip -->
		        		<img class="abs tip" src="../assets/img/level3/tip.png" />
		        		<!-- prev -->
		        		<img class="abs prev" @click="prev" src="../assets/img/common/prev.png" />
		        		<!-- next -->
		        		<img class="abs next" @click="next" src="../assets/img/common/next.png" />
		        		<!-- quote -->
		        		<img class="abs quote" src="../assets/img/level3/quote.png" />
		        	</div>
	        	</div>
	        </div>
		</div>
	</div>
</template>

<script src="../assets/js/level3.js"></script>