<style lang="less" scoped src="../assets/css/level1.less"></style>

<template>
	<div class="abs full-w full-h page-level1">
		<div class="abs full-w full-h wrapper">
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- text -->
	        	<img class="abs text1" src="../assets/img/level1/text1.png" />
	        	<!-- fulu -->
	        	<div class="abs box-fulu1">
	        		<!-- shadow -->
	        		<img class="full-w shadow1" src="../assets/img/common/shadow.png" />
	        		<!-- fulu -->
	        		<img class="abs fulu1" src="../assets/img/level1/fulu1-1.png" />
	        		<!-- bmi -->
	        		<img class="abs bmi" src="../assets/img/level1/bmi.png" />
	        	</div>
	        	<!-- mouse -->
	        	<div class="abs box-cave">
	        		<!-- cave -->
	        		<img class="full-w cave1" src="../assets/img/common/cave1.png" />
	        		<!-- mouse -->
	        		<div class="abs full-w box-mouse1">
	        			<!-- mouse -->
		        		<img class="full-w" src="../assets/img/common/mouse.png" />
		        		<!-- eyes -->
		        		<img class="abs eyes" src="../assets/img/common/open.png" />
		        	</div>
	        		<!-- cave -->
	        		<img class="abs full-w cave2" src="../assets/img/common/cave2.png" />
	        	</div>
	        	<!-- border -->
	        	<img class="abs full-w border" src="../assets/img/level1/border.png" />
	        	<!-- sugar1 -->
	        	<div class="abs box-sugar1">
	        		<!-- line1 -->
	        		<div class="line1"></div>
	        		<!-- sugar1 -->
	        		<img class="abs sugar1" src="../assets/img/common/sugar1.png" />
	        	</div>
	        	<!-- sugar2 -->
	        	<div class="abs box-sugar2">
	        		<!-- line2 -->
	        		<div class="line2"></div>
	        		<!-- sugar2 -->
	        		<img class="abs sugar2" src="../assets/img/common/sugar2.png" />
	        	</div>
	        	<!-- sugar3 -->
	        	<div class="abs box-sugar3">
	        		<!-- line3 -->
	        		<div class="line3"></div>
	        		<!-- sugar3 -->
	        		<img class="abs sugar3" src="../assets/img/common/sugar3.png" />
	        	</div>
	        	<!-- smoke -->
	        	<div class="abs box-smoke">
	        		<!-- smoke -->
	        		<img class="full-w smoke" src="../assets/img/level1/smoke1.png" />
	        	</div>
	        	<!-- boxing -->
	        	<div class="abs box-boxing">
	        		<!-- shadow -->
	        		<img class="full-w" src="../assets/img/level1/shadow-mouse.png" />
	        		<!-- mouse -->
	        		<img class="abs boxing" src="../assets/img/level1/boxing1.png" />
	        	</div>
	        	<!-- help -->
	        	<img class="abs help" src="../assets/img/common/help.png" />
	        	<!-- re -->
	        	<div class="abs full-w re">
	        		<!-- text2 -->
	        		<img class="abs text2" src="../assets/img/level1/text2.png" />
	        		<!-- firework -->
		        	<img class="abs firework1" src="../assets/img/common/firework2.png" />
		        	<img class="abs firework2" src="../assets/img/common/firework2.png" />
		        	<img class="abs firework3" src="../assets/img/common/firework2.png" />
		        	<img class="abs firework4" src="../assets/img/common/firework2.png" />
		        	<img class="abs firework5" src="../assets/img/common/firework2.png" />
		        	<!-- fulu -->
		        	<div class="abs box-fulu2">
		        		<!-- shadow -->
	        			<img class="full-w" src="../assets/img/common/shadow.png" />
			        	<!-- fulu -->
			        	<div class="abs box-fulumouse">
				        	<img class="full-w" src="../assets/img/level1/bg-fulu.png" />
				        	<!-- mouse -->
				        	<div class="abs box-mouse2">
				        		<!-- mouse -->
				        		<img class="full-w" src="../assets/img/level1/mouse2.png" />
				        		<!-- pao -->
				        		<div class="abs box-pao">
				        			<!-- pao -->
				        			<img class="full-w" src="../assets/img/level1/pao.png" />
				        			<!-- fire -->
				        			<img class="abs full-w fire" src="../assets/img/level1/fire1.png" />
				        		</div>
				        	</div>
				        	<!-- fulu -->
				        	<img class="abs full-w fulu2" src="../assets/img/level1/fulu2.png" />
				        </div>
			        </div>
		        	<!-- tip -->
		        	<div class="abs box-tip">
		        		<!-- bg -->
		        		<img class="full-w" src="../assets/img/common/bg-tip.png" />
		        		<!-- tip -->
		        		<img class="abs tip" src="../assets/img/level1/tip.png" />
		        		<!-- prev -->
		        		<img class="abs prev" @click="prev" src="../assets/img/common/prev.png" />
		        		<!-- next -->
		        		<img class="abs next" @click="next" src="../assets/img/common/next.png" />
		        	</div>
	        	</div>
	        </div>
		</div>
	</div>
</template>

<script src="../assets/js/level1.js"></script>