<style lang="less" scoped src="../assets/css/loading.less"></style>

<template>
	<div class="abs full-w full-h page-loading">
		<div class="abs full-w full-h wrapper">
	        <!-- num -->
	        <img class="abs num" src="../assets/img/loading/num.png" />
	        <!-- all -->
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- preview -->
	        	<div class="rel box-preview">
	        		<!-- fulu -->
		        	<img class="full-w" src="../assets/img/loading/fulu.png" />
		        	<!-- fireworks -->
		        	<img class="abs firework firework1" src="../assets/img/common/firework1.png" />
		        	<img class="abs firework firework2" src="../assets/img/common/firework1.png" />
		        </div>
		        <!-- loading -->
		        <div class="loading">
		        	<img class="full-h" src="../assets/img/loading/text.png" />
		        	<div><span class="num">0</span>%</div>
		        </div>
	        </div>
		</div>
	</div>
</template>

<script src="../assets/js/loading.js"></script>